<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY CART</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

</head>
<body>

<table>
  <tr>
    <th>Part Number</th>
    <th>Manufacturer</th>
    <th>Data Provider</th>
    <th>Volume</th>
    <th>Unit Price</th>
    <th>Total Price</th>
  </tr>
    <tr>
        <td>{{ data.part_number }}</td>
        <td>{{ data.manufacturer }}</td>
        <td>{{ data.data_provider }}</td>
        <td id="volume" contenteditable='true'>{{ data.volume }}</td>
        <td id="unit_price">{{ data.unit_price }}</td>
        <td id="total_price">{{ data.total_price }}</td>
      </tr>
    
</table>
<a href="{% url 'view' %}" >Back to View details</a>
<script>
    var volume = document.getElementById("volume");
    originalContent = volume.innerHTML;
    volume.addEventListener('keypress', function () {
    if ( volume.innerHTML !== originalContent ) {
        const unit_price = document.getElementById("unit_price").innerHTML;
        const volume_value = volume.innerHTML
        document.getElementById("total_price").innerHTML = String((volume_value * unit_price).toFixed(5));
    }
  });
    
</script>
</body>
</html>

