<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY CART</title>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>Part Number</th>
    <th>Manufacturer</th>
    <th>Data Provider</th>
    <th>Volume</th>
    <th>Unit Price</th>
    <th>Total Price</th>
  </tr>
    
</table>

</body>
</html>

